body {
    text-align: center;
    background-color: #F2F5A9;
}

.quadrado {
    text-align: center;
    width: 30px;
    height: 30px;
    background: #DBA901;
    display: inline-block;
    padding: 40px;
    font-size: 40px;
    margin: 5px;
    cursor: pointer;
    color: #DBA901;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    width: 100px;
    height: 30px;
    cursor: pointer;
}